<!-- <section class="lista-vagas"> -->
  <div *ngFor="let vaga of vagas">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/img/{{vaga.foto}}" alt="">
      <div class="card-body">
        <h5 class="card-title">Código da Vaga: {{vaga.id}}</h5>
        <h5 class="card-title">Vaga: {{vaga.nome}}</h5>
        <p class="card-text">Descrição da Vaga: {{vaga.descricao}}</p>
        <p class="card-text">Salário: {{vaga.salario}},00</p>
      </div>
    </div>
  </div>
<!-- </section> -->